<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cat Prediction Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ma Li's Keras Model MVP">
    <meta name="author" content="Ma Li">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-theme.min.css" rel="stylesheet">
  </head>

  <body>
    <script src="/static/jquery-1.12.2.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/d3.v3.min.js"></script>
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header" style="margin: 0px;">
          <h2>Ma Li's Keras Model MVP</h2>
        </div>
        {% block body %}{% endblock %}
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        
      </div>
    </div>
  </body>
</html>
